<div class="title">Players</div>
<div>
    {{#each players}}
    <div><a href='/games/{{../gameId}}/players/{{this._id}}'>{{this.name}}</a></div>
    {{/each}}
</div>
<div><a class = "links" href='/games/{{gameId}}/players/new'>( + Add New Player)</a></div>


<div><a class = "links" href='/games/{{gameId}}'>Go Back</a></div>