<div class = "title">{{game.date}}</div>

<div> Name: {{player.name}}</div>
<div> Position: {{player.position}}</div>
<div>
<a class="links" href='/games/{{game._id}}/players/{{player._id}}/stats'>Stats</a>
</div>

{{!-- EDIT --}}
<div>
<a class="links" href='/games/{{game._id}}/players/{{player._id}}/edit'>Edit Player</a>
</div>

{{!-- GO BACK --}}
<div>
    <a class="links" href='/games/{{game._id}}/players'>Go Back</a>
</div>

<form action='/games/{{game._id}}/players/{{player._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete Player'>
</form>

