<h1>Showing One Game</h1>

<div> Date: {{game.date}}</div>
<div> Location: {{game.location}}</div>
<div> Game #: {{game.gameNumber}}</div>
<div> Players: </div>

<form action='/games/{{game._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete Game'>
</form>
<div>
<a href='/games/{{game._id}}/edit'>Edit Game</a>
</div>
<div>
    <a href='/games'>Go Back</a>
</div>