<h1>Showing One Game</h1>

<div> Date: {{game.date}}</div>
<div> Location: {{game.location}}</div>
<div> Game #: {{game.gameNumber}}</div>
{{!-- <div>
    {{#each players}}
    <a href='/games/{{../gameId}}/players/{{this._id}}'>{{this.name}}</a>
    {{/each}}
</div> --}}
<div><a href='/games/{{game._id}}/players'>Players</a></div>

<div>
    <a href='/games/{{game._id}}/edit'>Edit Game</a>
</div>

<div>
    <a href='/games'>Go Back</a>
</div>

<form action='/games/{{game._id}}?_method=DELETE' method='POST'>
    <input type='submit' value='Delete Game'>
</form>