<h1>Stats</h1>
<div>

        <div>Points: {{stats.points}}</div>
        <div>Rebounds: {{stats.rebounds}}</div>
        <div>Assists: {{stats.assists}}</div>
        <div>Steals: {{stats.steals}}</div>

</div>


<a href='/games/{{gameId}}/players/{{playerId}}'>Go Back</a>



{{!-- <form action='/games/{{game._id}}/players/{{player._id}}/stats?_method=PUT' method='POST'>
    <div>Points: <input type='text' name='date' value={{stats.points}}></div>
    <div>Rebounds: <input type='text' name='location' value='{{stats.rebounds}}'></div>
    <div>Assists: <input type='text' name='gameNumber' value='{{stats.assists}}'></div>
    <div>Steals: <input type='text' name='gameNumber' value='{{stats.steals}}'></div>
    <input type='submit' value='Update Stats'>
</form>
 --}}
